body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

header p {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

nav .container {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0073e6;
    font-size: 1.1em;
}

main {
    padding: 40px 0;
}

.project-section {
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.project-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.project-section .subtitle {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
}

.project-details {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.project-details h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.project-details p,
.project-details ul {
    font-size: 1em;
    margin-bottom: 20px;
}

.project-details ul {
    padding-left: 20px;
}

.project-details ul li {
    margin-bottom: 10px;
}

.project-images {
    flex: 1;
    min-width: 300px;
}

.project-images h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-images img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
}
footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

footer a {
    color: #0073e6;
    text-decoration: none;
}
